<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>메인 페이지</title>
	<script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src ="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>
	<style>
		#top
        {
            background-color: rgb(11, 0, 26);
			text-align: center;
			color: rgb(255, 255, 255);
        }
		#title
        {
            background-color: rgb(210, 246, 255);
			text-align: center;
			font-size:2.0em;
        }
		#status
        {
            background-color: rgb(11, 0, 26);
			font-size:0.8em;
			color: rgb(255, 255, 255);
        }
		#player
        {
            text-align: center;
        }

    </style>
	<script>
		$(document).ready(function()
		{
			$("#btnInp").on("click", function()
			{
				src = "http://www.youtube.com/embed/" + $("#url").val().split("v=")[1] + "?enablejsapi=1&origin=http://example.com";
				$("#player").attr("src", src);
				setInterval(function()
				{
					$.ajax({
						url: "/statusJsonOutput",
						type: "POST",
						dataType: "json",
						contentType: "application/json",
						success: function(resultData){
							$("#status").html(resultData.s);
						}
					});    
				}, 1000);
			});
		});
	</script>
</head>

<body>
	<div id = "title">위키피케이션 입력</div>
	<div id = "top">
		<form action="/result" method="post" id="inp">
			<div>유튜브 데스크탑 버전 URL</div>
			<input type="text" id="url" name="url" value="https://www.youtube.com/watch?v=IbkhzcgznDA" style="width:600px;height:30px;font-size:20px;text-align:center;">
			<br><br><div>타임파트 초(실수)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;키워드 개수(정수)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;히트 관여(on/off)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;트리플 형식 출력(on/off)</div>
			<input type="text" name="sec" value="300.0" style="width:100px;height:30px;font-size:20px;text-align:center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="text" name="keywordSize" value="5" style="width:100px;height:30px;font-size:20px;text-align:center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" name="hit" value="on">&nbsp;&nbsp;<input type="radio" name="hit" value="off" checked="checked">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="radio" name="triple" value="on" checked="checked">&nbsp;&nbsp;<input type="radio" name="triple" value="off">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<br><br><button id="btnInp" style="width:200px;height:50px;font-size:30px;">전송</button><br><br>
			<iframe id="player" type="text/html" width="640" height="360" src="" frameborder="0"></iframe>
		</form>
	</div>
	<div id = "status"></div>
</body>
</html>